## PYTHON


<li>Created 1990 by Guido van Rossum
<li>Python3 released in 2008
<li>Easy to use language
<li>Readability of code.
<li>optimizing developer's tme rather than computer's processing time.
<li>docs.python.org/3

# What can do with Python

<li>DS and ML
<li>Analyze large files
<li>visualizations
<li>Perform ML
<li>Create and run predictive algorithms

What can you do with python?
Create Websites
    <li> Use web frameworks such as Django and flask- to handle backend of a website and user data
    <li>Create interactive dashboards for users

In Python, data types define the **kind of value** a variable can hold.  **most commonly used data types**:

---

### üî¢ **Basic Built-in Data Types**

| Type       | Description                            | Example                       |
|------------|----------------------------------------|-------------------------------|
| `int`      | Integer numbers                        | `10`, `-5`, `0`               |
| `float`    | Floating-point numbers (decimals)      | `3.14`, `-0.99`               |
| `bool`     | Boolean (True or False)                | `True`, `False`              |
| `str`      | String (text)                          | `"Hello"`, `'Python'`        |
| `complex`  | Complex numbers                        | `3+5j`, `-2j`                |

---

### üì¶ **Sequence Types**

| Type       | Description                            | Example                       |
|------------|----------------------------------------|-------------------------------|
| `list`     | Ordered, mutable collection            | `[1, 2, "apple"]`             |
| `tuple`    | Ordered, immutable collection          | `(10, 20, "banana")`          |
| `range`    | Sequence of numbers                    | `range(5)` ‚Üí `0, 1, 2, 3, 4`  |

---

### üß© **Set Types**

| Type       | Description                            | Example                       |
|------------|----------------------------------------|-------------------------------|
| `set`      | Unordered, unique items                | `{1, 2, 3}`                   |
| `frozenset`| Immutable version of a set             | `frozenset([1, 2, 3])`        |

---

### üìö **Mapping Type**

| Type       | Description                            | Example                       |
|------------|----------------------------------------|-------------------------------|
| `dict`     | Key-value pairs                        | `{"name": "Alice", "age": 25}`|

---

### üßµ **Other Important Types**

| Type         | Description                        | Example                       |
|--------------|------------------------------------|-------------------------------|
| `NoneType`   | Represents ‚Äúnothing‚Äù or null value | `None`                        |
| `bytes`      | Immutable binary data              | `b"hello"`                    |
| `bytearray`  | Mutable binary data                | `bytearray([65, 66, 67])`     |
| `memoryview` | Memory-efficient view of bytes     | `memoryview(b"abc")`          |

---

In [ ]:
## Basic operations - Python as a calculator
print("Addition",23+3,"\nSubtraction",3-4,"\nDivision",50/2,"\nMultiplication",35*34,"\nModulus",50%20)

Addition 26
Subtraction -1
Division 25.0
Multiplication 1190
Modulus 10

## Rules for variables
<li> Not start with number
<li>No space in the name,use '_'
<li> can't use symbols
<li>PEP8 names are lowercase
<li>Avoid "list,"str" etc.(built in keywords)

In [17]:
a=290
b=50.89

print(type(a),type(b))

<class 'int'> <class 'float'>

In [15]:
a=[]
for i in range(5):
    a.append(i)

In [18]:
print("Addition",a+b,"\nSubtraction",a-b,"\nDivision",a/b,"\nMultiplication",a*b,"\nModulus",a%b)

Addition 340.89
Subtraction 239.11
Division 5.698565533503635
Multiplication 14758.1
Modulus 35.55

## Strings
<li> Strings are ordered sequences use- indexing or slicing
<li>


<li>String:     P   y   t   h   o   n
<li>Index:      0   1   2   3   4   5
<li>Reverse:   -6  -5  -4  -3  -2  -1

A **string** in Python is a **sequence of characters** enclosed in either single quotes `'...'` or double quotes `"..."`. It‚Äôs one of the most commonly used data types in Python for handling text.

---

### üß± **Creating Strings**

name = "Alice"
greeting = 'Hello, world!'

## multi-line strings:
message = """This is
a multi-line
string."""

---

### üîß **Common String Operations**

| Operation           | Example                        | Result                        |
|---------------------|--------------------------------|-------------------------------|
| Concatenation       | `"Hello " + "World"`           | `"Hello World"`               |
| Repetition          | `"ha" * 3`                     | `"hahaha"`                    |
| Indexing            | `"Python"[0]`                  | `'P'`                         |
| Slicing             | `"Python"[1:4]`                | `'yth'`                       |
| Length              | `len("hello")`                 | `5`                           |

---

### üõ†Ô∏è **Useful String Methods**

| Method               | Description                          | Example                      |
|----------------------|--------------------------------------|------------------------------|
| `.lower()`           | Converts to lowercase                | `"HELLO".lower()` ‚Üí `"hello"`|
| `.upper()`           | Converts to uppercase                | `"hi".upper()` ‚Üí `"HI"`      |
| `.strip()`           | Removes whitespace                   | `"  hello  ".strip()`        |
| `.replace(a, b)`     | Replaces `a` with `b`                | `"cat".replace("c", "b")`    |
| `.split()`           | Splits string into list              | `"a,b,c".split(",")`         |
| `.join()`            | Joins list into string               | `",".join(['a','b'])`        |
| `.find()`            | Finds index of a substring           | `"hello".find("e")` ‚Üí `1`    |
| `.isdigit()`         | Checks if all characters are digits  | `"123".isdigit()` ‚Üí `True`   |

---

### üîç **Formatted Strings (f-strings)**

```python
name = "Alice"
age = 25
print(f"My name is {name} and I am {age} years old.")
```

Output:
```
My name is Alice and I am 25 years old.
```

### Indexing

In [19]:
my_string="Hello World"

In [ ]:
my_string[0],my_string[8]
print("Reversing a string : ",my_string[::-1])
print(my_string[2:7:2])

Reversing a string :  dlroW olleH
loW

#### 1. Question- Indexing
text = "DataScience"
what will be 
<li>text[2:6]

<li>text[:4]

<li>text[-4:]

### String Immutability

In [35]:
name="Hello World"

In [36]:
last_letters=name[1:]
last_letters

'ello World'

In [42]:
print('name+name+name')
name[:5]+' Welcome to the python program'

name+name+name

'Hello Welcome to the python program'

In [48]:
name.upper()
name.removeprefix('o')

'Hello World'

In [56]:
# Formatting with the .format() method  -A good way to format objects into your strings for print
print('This is a string {}'.format('INSERTED'))
print('The {0} {1} {2}'.format('fox','brown','quick'))
print('The {c} {b} {a}'.format(a='fox',b='brown',c='quick'))

This is a string INSERTED
The fox brown quick
The quick brown fox

In [63]:
# {value:width.precision f}
result=2999/34
print(result)
print("The result was  {r:1.2f}".format(r=result))

88.20588235294117
The result was  88.21

In [69]:
name="Mahi"
age=20
print(f'Hello his name is {name}')
print(f'{name} is a {age} years old person')

Hello his name is Mahi
Mahi is a 20 years old person

### LIST

In [87]:
my_list=[1,2,3]
len(my_list)
mylist=['ann','Abel','Farah']
mylist+my_list

['ann', 'Abel', 'Farah', 1, 2, 3]

In [ ]:
mylist[0]="Hann"
mylist.append('sira')
# mylist[3]="Rachel"

In [93]:
mylist[2]="Rache"

In [100]:
mylist

['Rache', 'sira']

In [99]:
#  POP - default index location is '-1'
mylist.pop(0)

'Abel'

In [101]:
new_list=['a','e','i','o','u']
num_list=[23,4,6,2]

In [107]:
new_sorted_list=num_list.sort()

In [108]:
type(new_sorted_list)

NoneType

### Dictionary

<li> collection of key value pairs
<li> each key maps to a value
<li> it is unordered , mutable, and indexed by keys

In [109]:


person = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}

In [111]:
person['name']

'Alice'

In [112]:
list_dic={'name':"Ann",
          'mark':[34,56,23],
          'K3':{'insidekey':900}
          }

In [113]:
list_dic

{'name': 'Ann', 'mark': [34, 56, 23], 'K3': {'insidekey': 900}}

In [114]:
list_dic['name'][2]

'n'

In [122]:
d={'key1':['a','b','c'],'key2':[23,44,35,33]}
d

{'key1': ['a', 'b', 'c'], 'key2': [23, 44, 35, 33]}

In [125]:
d['key1'][1].upper()

'B'

In [128]:
d['key3']=[2,4,3]
d.items()

dict_items([('key1', ['a', 'b', 'c']), ('key2', [23, 44, 35, 33]), ('key3', [2, 4, 3])])