### Python Basics

In [19]:
# getting as string
name=input("Enter your name")
birth_year=input("birth year?")
age=2024-int(birth_year)
print(float(age))

num=int(input("Enter your age"))
print(num)

704.0
54

### Assigning multiple values to multiple variables

In [6]:
a,b,c=5,3.2,'hello'
print(a,b,c)

5 3.2 hello

### Type conversion

In [ ]:
# Implicit type conversion -Automatically convert from one type to another
# Explicit  - convert to the required data type.
# Conversion of lower to higher to data loss
type(a)
str(a)

'5'

In [17]:
print("Hai! Good morning", end='.')
print("It is awesome")
print('New year',2023,'See you soon!',sep=".")

Hai! Good morning.It is awesome
New year.2023.See you soon!

#### Calculator

In [6]:
first=input("First number")
second=input("Second number")
sum=float(first)+float(second)

In [7]:
print("sum is",sum)

sum is 56.0

### Operators

<li>Arithmetic
<li>Assignment
<li>Comparison
<li>Logical
<li>Bitwise
<li>Special

In [ ]:
# Arithmetic

a=10
b=23
print('Sum',a+b)
print('Multiplication',a*b)
print('Division',a/b)
print('Floor division',a//b)
print('Modulo',a%b)
print('Power',a**b)

Sum 33
Multiplication 230
Division 0.43478260869565216
Floor division 0
Modulo 10
Power 100000000000000000000000

In [ ]:
#Assignment

a=20
b=4
a+=b
print(a)
#Comparison
print(a>b)

24
True

In [19]:
a = 5

b = 2

# equal to operator
print('a == b =', a == b)

# not equal to operator
print('a != b =', a != b)

# greater than operator
print('a > b =', a > b)

# less than operator
print('a < b =', a < b)

# greater than or equal to operator
print('a >= b =', a >= b)

# less than or equal to operator
print('a <= b =', a <= b)

a == b = False
a != b = True
a > b = True
a < b = False
a >= b = True
a <= b = False

In [21]:
# Logical operators
print((a>2) or (b>6))

True

In [ ]:
# logical AND
print(True and True)   
print(True and False)    

# logical OR
print(True or False)    

# logical NOT
print(not True)

True
False
True
False

In [ ]:
#Bitwise operator
a=23
print('a=',a,bin(a),bin(b))
c=~a
print(c,bin(c))
c=a<<2
print("result of left shift",c,bin(c))

a= 23 0b10111 0b10
-24 -0b11000
result of left shift 92 0b1011100

In [32]:
#Logical operator
per=6
print(not(per>3 and per<10))

False

In [35]:
a=100
b=25
list=[1,2,3,4,5,6]
if a in list:
    print("element is here")
else:
    print("please move forward")
    
c=a/b
if c not in list:
    print("not found")
else:
    print('hey , i am here')

please move forward
hey , i am here

In [37]:
#identity operator is , is not
a=[1,2,3,4,5]
b=[54,66,3,7]
c=a

print(a is not c)

False

In [2]:
price=5
print(price>=10 or price<=5)
print(not price >10)

True
True

### Conditional statements

In [28]:
mark=int(input("ENter the mark of the student"))
def scorefuc(m):
    if (mark >=90):
        grade='A'
        clas="first"
    elif (mark>=75 or mark<90):
        grade='B'
        clas="second"
    elif(mark>=65 or mark<75):
        grade='C'
        clas="third"
    else:
        print("Try again")
    return grade,clas    

g,cla=scorefuc(mark)
print("Your grade",g,"and class is",cla)

Your grade B and class is second

In [39]:
lan=['English','konkini','odissi']
for la in lan:
    print(la) 
    print('-------')

language='Python'
for x in language:
    print(x)    
for x in range(4):
    print(x)

English
-------
konkini
-------
odissi
-------
P
y
t
h
o
n
0
1
2
3

range(stop)
range(start,stop)
range(start,stop,step)

In [40]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [5]:
# continue - loop control statement, 
''' forces to execute the next iteration of the loop skipping the current iteration only'''

for i in 'explorepython':
    if i=='e' or i=='o':
        continue
    # print(i)

text='explorepython'
for i in text[::-1]:
    print(i)

n
o
h
t
y
p
e
r
o
l
p
x
e

In [49]:
# for i in range(1,11):
#     if i==6:
#         continue
#     else:
#         print(i)

 #nested loops
nested_list=[[1,2,3],[4,5,6],[6,8,7]]
for i in nested_list:
    for j in i:
        if j==6:
            continue
        print(j)

1
2
3
4
5
8
7

### While loop

In [54]:
# Print the numbers between 0 to 10 not 5

i=0
while i<10:
    if i==5:
        i+=1
        continue
    print(i)
    i+=1

0
1
2
3
4
6
7
8
9

In [55]:
for i in range(10):
    if i==5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [1]:
number=1
while number<=10:
    print(number)
    number+=1

1
2
3
4
5
6
7
8
9
10